////////////////////////////////// FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
footer {

    background-color: #000;
    border-top: 5px solid white;
    padding: 15px 0 45px 0;
    color: rgba(255, 255, 255, 1.00);
    color: rgba(255, 255, 255, 0.80);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-filter: drop-shadow(0px 5px 5px #222);
    filter: drop-shadow(0px 5px 5px #222);
    font-size: 14px;
    text-align: center;

    .copy {
        margin-top: 15px;
    }

    h2 {
        font-size: 9vw;

        @include media-breakpoint-up(sm) {
            font-size: 39px;
        }

        @include media-breakpoint-up(md) {
            font-size: 65px;
        }
    }

    a {
        text-decoration: none;
        color: #3c607a;

        &:hover {
            text-decoration: none;
            color: #578baf;
        }
    }



    .spotify-iframe {
        width: 160px;
       height: 27px;
        @include media-breakpoint-up(sm) {
            margin-right: 15px;
        }
    }

    .fa {
        &:hover {
            color: #fff;
            -webkit-animation: neon2 1s ease-in-out infinite alternate;
            -moz-animation: neon2 1s ease-in-out infinite alternate;
            animation: neon2 1s ease-in-out infinite alternate;
        }
    }
}
