///////////////////// RESPONSIVE SIZES FOR REFERENCE  \\\\\\\\\\\\\\\\\\\\\\\\\
// xs: 0
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {} 
// @include media-breakpoint-up(xl) {} 




#homepage {
    .bit-widget-container {
        margin-top: 25px;
    }
    section {

        padding-top: 25px;

      
    }

    #music-section {
        background-color: black;
        padding-bottom: 25px;
        // border-top: 5px solid white;
        border-bottom: 5px solid white;
        #music-iframe {
            height: 100vh;
            display: block;
            margin: 0 auto;
            width: 100%;
            padding: 0px;

            @include media-breakpoint-up(xl) {
                width: 600px;
                padding: 50px;

            }
        }
    }

    .fa-chevron-down {
        color: #747474;

        &:hover {
            color: #fff;
            -webkit-animation: neon2 1s ease-in-out infinite alternate;
            -moz-animation: neon2 1s ease-in-out infinite alternate;
            animation: neon2 1s ease-in-out infinite alternate;
        }
    }

    .bottom-title-scroll {
        position: absolute;
        bottom: 50px;
        // right:50%;
        text-align: center;
        color: #ff0024;
        text-transform: uppercase;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        .preacher-logo {
            max-width: 75%;

            @include media-breakpoint-up(md) {
                max-width: 50%;
            }

            @include media-breakpoint-up(xl) {
                max-width: 550px;
            }
        }
    }



    #tour-dates {
        a {
            span {
                display: inline;

                &:before {
                    content: initial;
                }
            }

            &:hover {
                span {
                    padding-left: 0px;
                }
            }
        }
    }



}