///////////////////////// VARIABLE OVERRIDES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
$body-bg: #fff;
$body-color: #999;

$color-tan: #998d63;
$color-light-tan: #ebe8e1;
$color-grey: #858585;
$primary-color: rgba(83, 83, 83, .9); 

$body-font-size: 18px;
$body-line-height: 30px;

$h1-size: 64px;
$h2-size: 64px;
$h3-size: 43px; 
$h4-size: 28px;
$h5-size: 18px;

$main-font: 'Nunito Sans',
sans-serif; 



/////////////////////// CUSTOM MIXINS  \\\\\\\\\\\\\\\\\\\\\\\
@mixin easeOut {
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-backface-visibility: hidden;
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}


///////////////////// IMPORT PREDEFINED BOOTSTRAP MIXINS  \\\\\\\\\\\\\\\\\\\\\\
@import "../lib/bootstrap-4.0.0/scss/functions";
@import "../lib/bootstrap-4.0.0/scss/variables";
@import "../lib/bootstrap-4.0.0/scss/mixins";
@import "../lib/bootstrap-4.0.0/scss/grid";
/////////////////////// USER IMPORTS - OTHER SASS FILES  \\\\\\\\\\\\\\\\\\\\\\\
@import "navbar";
@import "homepage";
@import "footer";
@import "buttons";
// @import "contentpages";


// general styles
body { 
    line-height: $body-line-height;
    font-family: $main-font;
}

h2 {
    font-size: 32px;
    color: $color-tan;
    @include media-breakpoint-up(md) {
        font-size: $h2-size;
    }
}

h3 {
    font-size: $h3-size;
    color: $color-grey; 
} 

h4 {
    font-size: $h4-size;
    color: #fff;
}

h5 {
    font-size: $h5-size;
    color: #fff;
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 1400px;
    }
}



img.dcd-logo {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: all .5s;
    &:hover {
        -webkit-filter: drop-shadow(5px 5px 5px #aaa);
        filter: drop-shadow(5px 5px 5px #aaa);
    }
}





