///////////////////////// VARIABLE OVERRIDES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
$body-bg: #fff;
$body-color: #999;


$color-light-tan: #ebe8e1;
$color-grey: #858585;
$primary-color: rgba(83, 83, 83, .9);

$body-font-size: 18px;
$body-line-height: 30px;

$h1-size: 64px;
$h2-size: 64px;
$h3-size: 43px;
$h4-size: 28px;
$h5-size: 18px;

$main-font: 'Lato',
sans-serif;



/////////////////////// CUSTOM MIXINS  \\\\\\\\\\\\\\\\\\\\\\\
@mixin easeOut {
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-backface-visibility: hidden;
}

// // ORIGINAL
// @keyframes neon2 {
//     from {
//         text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #729cac, 0 0 70px #729cac, 0 0 80px #729cac, 0 0 100px #729cac, 0 0 150px #729cac;
//     }

//     to {
//         text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #729cac, 0 0 35px #729cac, 0 0 40px #729cac, 0 0 50px #729cac, 0 0 75px #729cac;
//     }
// }


@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 5px #729cac, 0 0 10px #729cac, 0 0 15px #729cac, 0 0 20px #729cac, 0 0 35px #729cac, 0 0 40px #729cac, 0 0 50px #729cac, 0 0 75px #729cac;
    }
    to {
        text-shadow: 0 0 1px #729cac, 0 0 5px #729cac, 0 0 7px #729cac, 0 0 10px #729cac, 0 0 18px #729cac, 0 0 20px #729cac, 0 0 25px #729cac, 0 0 40px #729cac;
    }
}


@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 5px #729cac, 0 0 10px #729cac, 0 0 15px #729cac, 0 0 20px #729cac, 0 0 35px #729cac, 0 0 40px #729cac, 0 0 50px #729cac, 0 0 75px #729cac;
    }
    to {
        text-shadow: 0 0 1px #729cac, 0 0 5px #729cac, 0 0 7px #729cac, 0 0 10px #729cac, 0 0 18px #729cac, 0 0 20px #729cac, 0 0 25px #729cac, 0 0 40px #729cac;
    }
}


@keyframes neon2 {
    from {
        text-shadow: 0 0 5px #729cac, 0 0 10px #729cac, 0 0 15px #729cac, 0 0 20px #729cac, 0 0 35px #729cac, 0 0 40px #729cac, 0 0 50px #729cac, 0 0 75px #729cac;
    }
    to {
        text-shadow: 0 0 1px #729cac, 0 0 5px #729cac, 0 0 7px #729cac, 0 0 10px #729cac, 0 0 18px #729cac, 0 0 20px #729cac, 0 0 25px #729cac, 0 0 40px #729cac;
    }
}




///////////////////// IMPORT PREDEFINED BOOTSTRAP MIXINS  \\\\\\\\\\\\\\\\\\\\\\
@import "../lib/bootstrap-4.0.0/scss/functions";
@import "../lib/bootstrap-4.0.0/scss/variables";
@import "../lib/bootstrap-4.0.0/scss/mixins";
@import "../lib/bootstrap-4.0.0/scss/grid";

// @import "../lib/bootstrap-4.0.0/scss/bootstrap";
/////////////////////// USER IMPORTS - OTHER SASS FILES  \\\\\\\\\\\\\\\\\\\\\\\
@import "navbar";
@import "homepage";
@import "buttons";
@import "footer";
 


// general styles
body {
    line-height: $body-line-height;
    font-family: $main-font;
}

.container {
    @include media-breakpoint-up(xl) {
        max-width: 1400px;
    }
}



img.dcd-logo {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: all .5s;

    &:hover {
        -webkit-filter: drop-shadow(5px 5px 5px #aaa);
        filter: drop-shadow(5px 5px 5px #aaa);
    }
}

// @import url("https://fonts.googleapis.com/css?family=Bangers");

h2 {
    position: relative;
    text-align: center;
    // font-weight: normal;
    // color: #3c607a;
    // color: #578baf;
    color: #fff;
    text-transform: uppercase;
    font-size: 58px;
    // white-space: nowrap;
    // font-family: 'Bangers';
    font-family: $main-font;
    font-weight: 900;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 205px;
    // text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    // -moz-transform: skew(0, -6.7deg);
    // -ms-transform: skew(0, -6.7deg);
    // -webkit-transform: skew(0, -6.7deg);
    // transform: skew(0, -6.7deg);
    @include media-breakpoint-up(md) {
        font-size: 45px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: initial;
    }

    @include media-breakpoint-up(lg) {
        font-size: 65px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
}